.catbox{
    height: 45px;
    width: 100%;
    margin: 10px 0px;
    background-color: rgb(219, 219, 220);
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.catbox:hover{
    background-color: rgba(219, 219, 220, 0.652);
}